body {
  font-family: 'Lato';
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Catamaran';
  font-weight: 800 !important;
}

.btn-xl {
  text-transform: uppercase;
  padding: 1.5rem 3rem;
  font-size: 0.9rem;
  font-weight: 700;
  letter-spacing: 0.1rem;
}

.bg-black {
  background-color: #000 !important;
}

.rounded-pill {
  border-radius: 5rem;
}

.navbar-custom {
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: rgba(25, 25, 25, 0.7);
}

.navbar-custom .navbar-brand {
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 0.1rem;
  font-weight: 700;
}

.navbar-custom .navbar-nav .nav-item .nav-link {
  text-transform: uppercase;
  font-size: 0.8rem;
  font-weight: 700;
  letter-spacing: 0.1rem;
}

.nav-link:hover{  
  color: rgba(170, 170, 170, 0);
}

main.masthead {
  position: relative;
  overflow: hidden;
  padding-top: calc(7rem + 72px);
  padding-bottom: 7rem;
  background: linear-gradient(0deg, #ff6a00 0%, #ee0979 100%);
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: scroll;
  background-size: cover;
}

main.masthead .masthead-content {
  z-index: 1;
  position: relative;
}

main.masthead .masthead-content .masthead-heading {
  font-size: 4rem;
}

main.masthead .masthead-content .masthead-subheading {
  font-size: 2rem;
}

main.masthead .bg-circle {
  z-index: 0;
  position: absolute;
  border-radius: 100%;
  background: linear-gradient(0deg, #ee0979 0%, #ff6a00 100%);
}

main.masthead .bg-circle-1 {
  height: 90rem;
  width: 90rem;
  bottom: -55rem;
  left: -55rem;
}

main.masthead .bg-circle-2 {
  height: 50rem;
  width: 50rem;
  top: -25rem;
  right: -25rem;
}

main.masthead .bg-circle-3 {
  height: 20rem;
  width: 20rem;
  bottom: -10rem;
  right: 5%;
}

main.masthead .bg-circle-4 {
  height: 30rem;
  width: 30rem;
  top: -5rem;
  right: 35%;
}

@media (min-width: 992px) {
  main.masthead {
    padding-top: calc(10rem + 55px);
    padding-bottom: 10rem;
  }
  main.masthead .masthead-content .masthead-heading {
    font-size: 6rem;
  }
  main.masthead .masthead-content .masthead-subheading {
    font-size: 4rem;
  }
}

.bg-primary {
  background-color: #ee0979 !important;
}

.btn-primary {
  background-color: #ee0979;
  border-color: #ee0979;
}

.btn-primary:active, .btn-primary:focus, .btn-primary:hover {
  background-color: #bd0760 !important;
  border-color: #bd0760 !important;
}

.btn-primary:focus {
  box-shadow: 0 0 0 0.2rem rgba(238, 9, 121, 0.5);
}

.btn-secondary {
  background-color: #ff6a00;
  border-color: #ff6a00;
}

.btn-secondary:active, .btn-secondary:focus, .btn-secondary:hover {
  background-color: #cc5500 !important;
  border-color: #cc5500 !important;
}

.btn-secondary:focus {
  box-shadow: 0 0 0 0.2rem rgba(255, 106, 0, 0.5);
}

.calculatorButton, .calculatorEqualsButton{
  border: 1px solid #dddddd;
  text-align: center;
  width: 80px;
  font-size: 25px;
  padding-top: 20px;
  padding-bottom: 20px;
  cursor:pointer;
}

.calculatorEqualsButton{
  width: 160px;
}

.output{
  padding: 10px;
  text-align: left;
  margin-top: 0;
}

.outputBorder{
  height: 50px;
  border-radius: 4px;
  margin-bottom: 50px;
  border: solid white 1px;
}

@media(max-width: 420px){

  .calculator{
    margin-top: -90px;
    margin-bottom: -80px;
  }
}

@media(max-width: 376px){
  footer.py-5{
    position: absolute;
    left: -9999999px;
  }

  main.masthead{
    padding-bottom: 9.65rem;
  }
}

@media(min-height: 1079px){
  .calculator{
    margin-bottom: 50px;
  }

  main.masthead{
    padding-bottom: 13.3rem !important;
  }
}

footer.py-5{
  height: auto;
  margin: auto;
  padding: 3rem 3rem 38px 3rem !important;
}

.unselectable{
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#copy_button{
  height: 49px;
  cursor: pointer;
  float: right;
  margin-top: -37px;
  margin-right: -55px;
}

#help_button{
  float: left;
  margin-top: -19px !important;
  cursor: pointer;
}

.mobileclear{
  float: right;
  width: 45px;
  margin-top: -35px;
  margin-right: 5px;
  cursor: pointer;
}

.help_points_list{
  list-style: none;
}

li.help_li{
  width: 500px;
  margin: 2.5rem auto 2.5rem auto;
}

.entry_img{
  width: 550px;
  height: 120px;
  margin-left: -26px;
}

.help_text{
  padding: 5px;
  margin: 0.25rem 0 0.25rem 0;
}

.border_div{
  margin-top: -110px;
}