:root {
    --title-font-size: 25px;
    --nav-link-font-size: 15px;
    --nav-links-width: 30%;

    --icon-width: 25px;
    --icon-height: 4px;
    --nav-background: #383838;

    --nav-link-count: 0;
}

nav {
    z-index: 1;
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: calc(8vh + 1px);
    background-color: var(--nav-background);
}

.logo {
    letter-spacing: 5px;
    font-size: var(--title-font-size);
}

.nav-links {
    display: flex;
    justify-content: space-around;
    width: var(--nav-links-width);
}

.nav-links li {
    list-style: none;
}

.nav-links a {
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: var(--nav-link-font-size);
}

.icon {
    cursor: pointer;
    display: none;
}

.icon div {
    width: var(--icon-width);
    height: var(--icon-height);
    background-color: var(--text-color);
    margin: 5px;
    border-radius: 5px;
    transition: all 0.3s ease;
}

.toggled .line1 {
    border-radius: 0px;
    transform: rotate(-45deg) translateY(12.5px);
}

.toggled .line2 {
    opacity: 0;
}

.toggled .line3 {
    border-radius: 0px;
    transform: rotate(45deg) translateY(-12.5px);
}

.nav-active {
    transform: translateY(0%) !important;
}

@media screen and (max-width:1100px) {
    .nav-links {
        width: 50%;
    }
}

@media screen and (max-width:600px) {
    .nav-links {
        position: absolute;
        right: 0px;
        top: 8vh;
        width: 100%;
        height: calc(var(--nav-link-count) * 8vh);
        background-color: var(--nav-background);
        display: flex;
        flex-direction: column;
        align-items: center;
        z-index: 1;

        transform: translateY(calc(-1 * (var(--nav-link-count) + 1) * 8vh));
        transition: transform 0.25s ease-in;
    }

    .nav-links li {
        opacity: 0;
    }

    .icon {
        display: block;
        z-index: 2;
    }

    .logo {
        z-index: 2;
    }
}

@media screen and (max-height:450px) {
    nav {
        height: 16vh;
    }

    .container {
        margin-top: 16vh;
    }
}

@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateY(50px);
    }

    to {
        opacity: 1;
        transform: translateY(0px);
    }
}
