:root {
    --scrollbar-width: 10px;
    --scrollbar-background: #1e1e24;
    --scrollbar-color: #fff;
}

body::-webkit-scrollbar {
    width: var(--scrollbar-width);
    cursor: pointer;
}

body::-webkit-scrollbar-track {
    background: var(--scrollbar-background);
}

body::-webkit-scrollbar-thumb {
    background: var(--scrollbar-color);
}